@import "tailwindcss";



@theme {
    --color-mint-500: oklch(0.72 0.11 178);
     --color-very-dark-blue: hsl(220, 13%, 13%);
	 --color-dark-grayish-blue: hsl(219, 9%, 45%);
	 --color-grayish-blue: hsl(220, 14%, 75%);
	 --color-light-grayish-blue: hsl(223, 64%, 98%);
	 --color-white: hsl(0, 0%, 100%);
	 --color-black-opacity-75: hsla(0, 0%, 0%, 0.75); /* Noir avec 75% d'opacité */
	 --color-Orange: hsl(26, 100%, 55%);
	 --color-Paleorange: hsl(25, 100%, 94%);
     --font-family: 'Kumbh Sans', sans-serif;

}

/* Reset CSS */
/* Box sizing border-box */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Margin and padding reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}
/* Typography reset */
body,
button,
input,
select,
textarea {
	font-family: Arial, sans-serif; /* Définir une police de caractères de base */
	font-size: 16px; /* Définir une taille de police de base */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit; /* Hérité de la taille de police de base */
	font-weight: inherit; /* Hérité du poids de police de base */
}
/* List reset */
ul,
ol {
	list-style: none;
}

/* Form elements reset */
button,
input,
select,
textarea {
	background-color: transparent;
	border: none;
	outline: none;
}
:root {
	/* Définition des variables de couleur */
	--very-dark-blue: hsl(220, 13%, 13%);
	--dark-grayish-blue: hsl(219, 9%, 45%);
	--grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--black-opacity-75: hsla(0, 0%, 0%, 0.75); /* Noir avec 75% d'opacité */
	--Orange: hsl(26, 100%, 55%);
	--Paleorange: hsl(25, 100%, 94%);
}

body {
	font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
	padding: 0;
}